@mixin font($fc, $fw) { color: $fc; font-weight: $fw; }
@mixin facefont ($fn, $fs, $fw, $ft){font-family: $fn; src: $fs; font-weight: $fw; font-style: $ft;}
@mixin size($w, $h) { width: $w; height: $h; }