$color__black: #000000;
$color__white: #ffffff;
$color__magenta: #B30089;
$color__green: #cc0000;
$color__red: #D50000;

$f-name-playfair: Playfair Display;
$f-playfair-url-400: url('../fonts/playfair__400_regular.ttf');